@use "../../styles/_variables.scss" as *;

.projects {
  margin-top: 4rem;

  &__heading {
    color: $colour-primary;
    margin-bottom: 2rem;
  }

  &__tile {
    &--upper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      height: 25rem;
      border-radius: 0.5rem 0.5rem 0rem 0rem;
      background-color: $colour-primary;
      height: 78vh;
    }

    &--lower {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      border-radius: 0rem 0rem 0.5rem 0.5rem;
      background-color: $colour-primary;
      height: 16vh;
      align-items: center;
    }
  }

  &__image {
    margin: 0.5rem;
    margin-bottom: 0.25rem;
    background-color: $colour-background;
    height: 50%;
  }

  &__info {
    height: 50%;
    margin: 0.5rem;
    margin-top: 0.25rem;

    background-color: $colour-background;
  }

  &__arrow {
    border: none;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background-color: $colour-background;
    color: $colour-primary;
  }

  &__buttons-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    height: 2.7rem;
    background-color: $colour-secondary;
    color: white;
    border: none;
    border-radius: 1rem;
  }
}
