@use "../../styles/_variables.scss" as *;

.about {
  &__heading {
    color: $colour-primary;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  &__paragraph {
    line-height: 1.4rem;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .about {
    &__heading {
      font-size: 2rem;
      margin-top: 0rem;
    }

    &__paragraph {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  }
}
