@use "../../styles/_variables.scss" as *;

.navbar {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  background-color: transparent;
  justify-content: space-between;

  &--active {
    z-index: 10;
    top: 0;
    left: 0;
  }

  &__logo {
    font-family: $font-cursive;
    font-size: 2rem;
  }

  &__menu-button {
    background-color: transparent;
    border: none;
  }

  &__links-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    padding: 1rem 2rem;
    text-align: right;

    &-list {
      list-style: none;
    }

    &-list-item {
      margin-bottom: 1rem;
    }

    .navbar__link {
      text-decoration: none;
      color: $colour-font-general;
      font-weight: bold;

      &:hover {
        color: $colour-primary;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar__logo {
    font-size: 3rem;
  }

  .navbar__links-container-list {
    display: flex;
    flex-direction: row;

    &-item {
      margin-left: 4rem;
    }
  }

  .navbar__link {
    font-size: 1.4rem;
  }
}
